.header-container {
  padding-top: 30px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.subtitle {
  font-size: 25px;
  color: white;
}

.left {
  text-align: left;
  margin-left: 10%;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.right {
  display: flex;
  background: rgb(28, 95, 37);
  border-radius: 16px;
  padding: 12px 20px;
  height: 99%;
  margin-right: 10%;
  margin-top: 10px;
}
